@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
 --font-sans: 'Roboto', sans-serif;
  
--color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
}
